@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  color: #0ea5e9;
}

.custom-popup {
  background-color: #1F2937; 
  color: #0EA5E9; 
  border-radius: 8px;
}

.custom-title {
  color: #0EA5E9; 
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-cancel-button {
  background-color: none;
  color: #1F2937;
  border: 1px;
  border-color: #0EA5E9;
  border-radius: 5px;
}

.custom-confirm-button {
  background-color: #0EA5E9; 
  color: #1F2937;
  border-radius: 5px;
}

.custom-popup-success {
  background-color: #1F2937; 
  color: #0EA5E9; 
}
